@charset "UTF-8";

html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 100px auto 40px;
    text-align: center;
    background: linear-gradient(to bottom,
            #0369C7, #43A0F6, #DFD953);
}

.container {
    width: 50%;
}

.icon {
    height: 60px;
}

.sub-title {
    color: #fff;
    font-size: 40px;
}

.title {
    font-weight: 100;
    font-size: 26px;
    margin-bottom: 20px;
}

.white {
    color: #fff;
}

.form-group {
    margin: 10px auto;
    width: 40%;
    padding: 30px;
    background: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 10px;
}

.message {
    color: red;
    padding-bottom: 10px;
}

.form-title {
    margin-bottom: 5px;
    color: #fff;
    text-align: left;
}

.form-text {
    margin-bottom: 30px;
    overflow: scroll;
    /* font-size: 6rem; */
    /* line-height: 2; */
}

input {
    /* display: inline-block; */
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 120%;
}


.button {
    /* width: 80px; */
    display: flex;
    border-radius: 10px;
    font-size: 22pt;
    text-align: center;
    cursor: pointer;
    padding: 12px 12px;
    background: #ed3b50;
    color: #ffffff;
    line-height: 0.3rem;
    /* 1行の高さ  */
    opacity: 1;
    /* 透明度     */
    transition: .3s;
    /* なめらか変化 */
    justify-content: flex-end;
    position: relative;
}

.button:hover {
    opacity: 0.8;
}


.link {
    font-size: 26px;
    margin: 30px 0 10px;
}
