@charset "UTF-8";

html {
    height: 100%;
}

body {
    text-transform: lowercase;
    min-height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background: linear-gradient(#0067C6 0%, #4dafff 55%, #A1C59F 75%, #f2e144 100%);
}

header {
    margin: 0 auto;
    padding-bottom: 60px;
}

.container {
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    height: 60px;
}

.sub-title {
    color: #fff;
    font-size: 40px;
}

.title {
    text-transform: none;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 40px;
}

.white {
    color: #fff;
}

form {
    display: inline-block;
}

.form-group {
    width: 300px;
    padding: 30px;
    background: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 10px;
}

.message {
    color: red;
    padding-bottom: 10px;
}

.form-title {
    margin-bottom: 5px;
    color: #fff;
    text-align: left;
}

.form-text {
    margin-bottom: 30px;
    overflow: scroll;
    /* font-size: 6rem; */
    /* line-height: 2; */
}

input {
    /* display: inline-block; */
    width: 93%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 120%;
}

.btn {
    width: 120px;
    margin-left: auto;
    display: flex;
    border-radius: 10px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    padding: 12px 12px;
    background: #ed3b50;
    color: #ffffff;
    line-height: 0.3rem;
    /* 1行の高さ  */
    opacity: 1;
    /* 透明度     */
    transition: .3s;
    /* なめらか変化 */
    justify-content: center;
    position: relative;
}

.btn:hover {
    opacity: 0.8;
}


.link {
    font-size: 20px;
    margin: 50px 0 10px;
}
