@charset "utf-8";

html {}

body {}

/* header */
.header {
    background: #186AC9;
    height: 100px;
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 img {
    height: 50px;
}

.nav {
    display: flex;
}

nav {
    display: none;
    width: 20%;
    height: 300px;
    background: #fff;
    border: 1px solid #00297E;
    position: absolute;
    top: 100px;
    right: 0;
    z-index: 1;
}

nav a:hover {
    color: #fff;
    background: #00297E;
}

.nav-open {
    width: 200px;
    padding: 15px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}

/* 閉じている時 */
.nav-open::before {
    border-right: solid 3px #fff;
    border-top: solid 3px #fff;
    content: "";
    display: block;
    height: 10px;
    width: 10px;
    position: absolute;
    right: 25px;
    transform: rotate(135deg);
    transition: transform .2s ease-in-out, top .2s ease-in-out;
}

/* 開いている時 */
.nav-open.active::before {
    top: 40%;
    transform: rotate(-45deg);
}

.nav-item {
    display: flex;
    font-size: 28px;
    height: 100px;
    justify-content: center;
    align-items: center;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

.btn {
    width: 120px;
    margin-left: auto;
    display: flex;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    padding: 6px 8px;
    background: #0756CF;
    color: #ffffff;
    line-height: 0.5rem;
    /* 1行の高さ  */
    transition: .3s;
    /* なめらか変化 */
    justify-content: center;
    position: relative;
}

.btn-text {
    font-size: 14px;
}

.icon {
    width: 56px;
    height: 56px;
}

.gray {
    color: #848484;
}
